p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  width: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin-right: 20px;
}

.snoopy {
  width: 200px;
  height: 200px;
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 4px;
}

.friends {
  color: rgb(100, 100, 100);
  margin-left: 8px;
  margin-bottom: 12px;
}

.button-addfriends {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
