.google_logo {
  width: 200px;
  display: block;
  margin-bottom: 10px;
  margin-left: 160px;
}

.search-bar {
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}