p, input, button {
  margin: 0px;
  font-family: Roboto;
}

.email {
  margin-bottom: 10px;
  color: rgb(97, 97, 97);
  font-size: 18px;
}

.email-bar {
  padding: 8px 15px;
  width: 410px;
  margin-bottom: 20px;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
}

.terms {
  margin-bottom: 20px;
  color: rgb(97, 97, 97);
  font-size: 18px;
}
.button-agree {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    padding: 20px 32px;
    width: 445px;
    font-size: 22px;
    border-radius: 28px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s;
  }